@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*hsl指定*/
    --background: 0 0% 100%;
    --foreground: 217 33% 17%;

    --primary: 217 91% 60%;
    --primary-foreground: 214 100% 97%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 217 91% 60%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 86% 97%;

    /*ボーダー*/
    --divider: 210 40% 96%;
    --intaractive: 220 13% 91%;

    --focus: 217 91% 60%;
    --focus-light: 224 95% 93%;

    --brand: 0 0% 100%;
    --brand-light: 217 33% 17%;

    --radius: 0.5rem;
  }

  .dark {

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
